* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(99 102 241);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(79 70 229);
}

.dot-span {
    color: rgb(99 102 241);
    font-size: 2rem;
}

.hero {
    margin-top: 110px;
}

.image-hero img {
    height: 80vh;
}

.indigo-500 {
    background-color: rgb(99 102 241);
    color: white;
}

.btn-indigo {
    background-color: rgb(99 102 241) !important;
    color: white !important;
}

.btn-indigo:hover {
    background-color: rgb(79 70 229) !important;
    color: white !important;
}

.btn-login {
    border-color: rgb(99 102 241);
    color: rgb(99 102 241);
}

.btn-login:hover {
    background-color: rgb(99 102 241);
    color: white;
}

.btn-register {
    background-color: rgb(99 102 241);
    color: white;
}

.btn-register:hover {
    border-color: rgb(99 102 241);
    color: rgb(99 102 241);
}

.popular-course {
    margin-top: 100px;
}

.card img {
    object-fit: cover;
    height: 180px;
}

.jumbotron {
    margin-top: 100px;
    margin-bottom: 100px;
}

a.back {
    color: rgb(99 102 241);
}

a.no-underline {
    text-decoration: none;
}

i.bx-left-arrow-alt {
    font-size: 25px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #11101d;
    padding: 15px;
    z-index: 99;
}
.logo {
    font-size: 25px;
    padding: 0 15px;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
}
.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
    display: none;
}
.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}

.menu-content ul {
    padding-left: 0 !important;
}
.submenu-active .menu-items {
    transform: translateX(-56%);
}
.menu-title {
    color: #fff;
    font-size: 20px;
    padding: 15px 10px;
}
.item a,
.submenu-item {
    padding: 8px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}
.item i {
    font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
    background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: #11101d;
    display: none;
}
.show-submenu ~ .submenu {
    display: block;
}
.submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
}
.submenu .menu-title i {
    margin-right: 10px;
}
.navbar-side,
.main-course {
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
}
.sidebar.close ~ .navbar-side,
.sidebar.close ~ .main-course {
    left: 0;
    width: 100%;
}
.navbar-side {
    position: fixed;
    color: #fff;
    padding: 15px 20px;
    font-size: 25px;
    background: #4070f4;
    cursor: pointer;
}
.navbar-side #sidebar-close {
    cursor: pointer;
}

.main-course {
    position: relative;
    display: flex;
    height: 100vh;
    z-index: 100;
    background: #fff;
}

.content {
    margin-top: 100px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 50%;
    width: 50%;
    object-fit: contain; 
}

.list__course{
    margin-top: 50px;
}

.course__detail{
    margin-top: 50px;
}

img .img-course{
    height: 30%;
}

.forum{
    margin-top: 50px;
}